.signup-form {
    padding: 60px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.signup-form>* {
    margin-top: 30px;
}

.signup-form p {
    color: white;
}

.signup-form span {
    color: red;
    background: lightcoral;
    border-radius: 5px;
    padding: 7px;
}

.signup-form a {
    text-decoration: none;
    display: inline-block;
}

.signup-form button {
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: medium;
    color: white;
    background: var(--secondary-color);
    margin-bottom: 30px;
}

.signup-form button:hover {
    color: var(--tertiary-color);
    cursor: pointer;
}